* {
  box-sizing: border-box; }

html, body {
  overflow-x: hidden; }

body {
  margin: 0;
  padding: 0;
  background: url("../img/footer_lodyas.png");
  font-family: 'Open Sans', sans-serif; }

h1 {
  padding-top: 10px;
  color: #fff;
  text-align: center; }

.text {
  color: #BBBBBB !important;
  text-align: center;
  font-size: 14px;
  color: #fff;
  padding-top: 100px; }

.main {
  curcor: pointer;
  text-align: center;
  margin-top: 400px; }

li {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #fff;
  border: 3px solid transparent;
  padding: 10px; }

.Certificates {
  background: #28A745;
  border-radius: 11px;
  padding: 10px;
  margin-right: 50px; }

.Football {
  background: #DC9781;
  border-radius: 11px;
  padding: 10px;
  margin-right: 50px; }

.Happy {
  background: #FF9028;
  border-radius: 11px;
  padding: 10px;
  margin-right: 50px; }

.Bookmarks {
  background: #17A0B6;
  border-radius: 11px;
  padding: 10px;
  margin-right: 50px; }

.Structure {
  max-width: 100%;
  background: #686DDC;
  border-radius: 11px;
  padding: 10px;
  margin-right: 50px; }

.Skeleton {
  background: #FF788F;
  border-radius: 11px;
  padding: 10px;
  margin-right: 50px; }

.Queen {
  background: #007BFF;
  border-radius: 11px;
  padding: 10px; }

li {
  opacity: 1; }

li:hover {
  opacity: 0.6; }

@media (max-width: 576px) {
  .Certificates {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px; }
  .Football {
    width: 100%;
    margin-bottom: 10px; }
  .Happy {
    width: 100%;
    margin-bottom: 10px; }
  .Bookmarks {
    width: 100%;
    margin-bottom: 10px; }
  .Structure {
    width: 100%;
    margin-bottom: 10px; }
  .Skeleton {
    width: 100%;
    margin-bottom: 10px; }
  .Queen {
    width: 100%;
    margin-bottom: 30px; } }

@media (max-width: 768px) {
  .Skeleton {
    margin-bottom: 30px; }
  .Queen {
    margin-bottom: 30px;
    margin-right: 30px; } }

@media (max-width: 992px) {
  .Skeleton, .Queen {
    margin-bottom: 30px; } }

@media (max-width: 1200px) {
  .Certificates, .Football, .Happy, .Bookmarks, .Structure, .Queen, .Skeleton {
    margin-bottom: 30px; } }

@media (max-width: 1496px) {
  .Queen {
    margin-top: 5px; } }
