* {
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body {
    overflow-x: hidden; }

body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background:url("../img/footer_lodyas.png") no-repeat center center ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

h1 {
    font-size:30px;
    padding-top: 15px;
    color: #fff;
    text-align: center; }
.github {
    cursor: pointer;
    color: #7151B3;
    text-align: center;
}
.github:hover {
    color: #FF7614;
    text-decoration: underline; 
}

.help__text {
    color: #BBBBBB !important;
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding-top: 100px;
}
.text {
    color: #BBBBBB !important;
    text-align: center;
    font-size: 21px;
    color: #fff;
    padding-top: 100px; }

.main {
    cursor: pointer;
    text-align: center;
    margin-top: 400px; }

li {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle; }

 a {
    display: block;
    font-size: 28px;
    appearance: button;
    text-decoration: none;
    color: #fff;
    border: 3px solid transparent;
    padding: 10px; }

.one__block {
    background: #28A745;
    border-radius: 11px;
    padding: 10px;
    margin-right: 50px; }

.two__block {
    background: #DC9781;
    border-radius: 11px;
    padding: 10px;
    margin-right: 50px; }

.three__block {
    background: #FF9028;
    border-radius: 11px;
    padding: 10px;
    margin-right: 50px; }

.four__block {
    background: #17A0B6;
    border-radius: 11px;
    padding: 10px;
    margin-right: 50px; }
.five__block {
    background: #686DDC;
    border-radius: 11px;
    padding: 10px;
    margin-right: 50px; }

.six__block {
    background: #E25072;
    border-radius: 11px;
    padding: 10px;
    margin-right: 50px; 
    }
.seven__block {
    background: #FF788F;
    border-radius: 11px;
    padding: 10px;
    margin-right: 50px; }

.eight__block {
    background: #007BFF;
    border-radius: 11px;
    padding: 10px;
    margin-right: 50px; 
}

.nine__block {
    background: #007BFF;
    border-radius: 11px;
    padding: 10px;
}

.ten__block {
    background: #323BB3;
    border-radius: 11px;
    padding: 10px;
}

li {
    opacity: 1; }

li:hover {
    opacity: 0.6; }

/* Phone */
@media (max-width: 576px) {
  .one__block  {
    width: 100%;
    margin-bottom: 30px; }
  .two__block {
    width: 100%;
    margin-bottom: 30px; }
  .three__block {
    width: 100%;
    margin-bottom: 30px; }
  .four__block {
    width: 100%;
    margin-bottom: 30px; }
  .five__block {
    width: 100%;
    margin-bottom: 30px; }
  .six__block {
    width: 100%;
    margin-bottom: 30px; }
  .seven__block {
    width: 100%;
    margin-bottom: 30px; }
  .eight__block {
    width: 100%;
    margin-bottom: 30px; } 
  .nine__block {
    width: 100%;
    margin-bottom: 30px;
   } 
   .ten__block  {
       width: 100%;
     margin-bottom: 30px;
   }
}

/* Desktop */
@media (max-width: 4000px) {
    .one__block, .two__block, .three__block , .four__block ,
    .five__block , .six__block , .seven__block, .eight__block, .nine__block,  .ten__block {
        margin-bottom: 30px;
    }
}
@media (min-width: 576px ) {
    .ten__block {
        margin-left: 31px;
    }
}