* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    height: 100%;
    overflow: hidden;
    background-color: #e6eaec;
}

.header__title {
    font-family: Montserrat;
    margin-left: 175px;
    margin-top: 47px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
}

.maxphoto  {
    color: #de2323;
    font-family: Montserrat;
    font-weight: 400;
    text-transform: uppercase;
}

.denis {
    color: #212121;
    font-family: "Montserrat - Bold";
    font-weight: 700;
}

.photo {
    font-family: "Montserrat - Regular";
    font-weight: 400; 
}

.header__form {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -49px;
    margin-right: 150px;
}

.login{
    padding: 11px 28px 10px 29px;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    border: 1px solid #acacac;
    background: #E6EAEC;
    box-shadow: 0 1px 6px rgba(222, 35, 35, 0.84);
}

.login__title {
    color: #212121;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
}

.singup {
    box-shadow: 0 1px 6px rgba(222, 35, 35, 0.84);
    border-radius: 30px;
    background-color: #de2323;
    padding: 11px 28px 10px 29px;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    margin-left: 20px;  
}

.img__center {
    display: flex;
    margin: 0 auto;
    margin-top: 145px;
}

.img__left {
    display: flex;
    margin-left: 337px;
    margin-top: 163px;
}

.img__right {
    display: flex;
    float: right;
    margin-top: -170px;
    margin-right: 395px;
}

.img__right:after {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

.header__search {
    width: 600px;
    margin: 0 auto;
    position: relative;
    bottom: 110px;
}

.gsc-search-button-v2, .gsc-search-button-v2:hover, .gsc-search-button-v2:focus {
    background: blue;
}

.header__search_title {
    text-align: center;
}

.search__text {
    color: #000000;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    /* Text style for "Product Ph" */
    letter-spacing: 17.52px;
    margin-bottom: 111px;
}

.main__content {
    background: #ffffff;
}
.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
}


.menu {
    width: 20%; 
    background-color: #fbfbfb;
}

ul {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.menu-item {
    margin-top: 56px;
    margin-left: 74px;
    margin-bottom: 10px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 68px; 
    list-style: none;
}

.menu-link {
    color: #010101;
    text-decoration: none;
}

.img__content {
    width: 80%;
}

.pic-1 {
    background: url('../img/placeholder\ 1.png') no-repeat center top;
    position: relative;
    top: -800px;
    text-align: center;
    vertical-align: bottom; 
}

.pic-2 {
    position: relative;
    top: -1100px;
    text-align: right; 
    vertical-align: bottom;
}

.pic-3 {
    background: url('../img/placeholder\ 3.png') no-repeat center top;
    padding: 102px;
    position: relative;
    top: -1000px;
    text-align: center;
    vertical-align: bottom;
}

.pic-4 {
    position: relative;
    top: -1400px;
    text-align: right;
    vertical-align: bottom;
}

.pic-5 {
    background: url('../img/placeholder\ 5.png') no-repeat right  top;
    position: relative;
    top: -1350px;
    text-align: right;
    vertical-align: bottom;
}

@media (max-width: 711px ) {
    
    .header__title {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        
    }

    .header__form {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 5%;
    }

    .header__search {
        width: 300px;
        margin: 0 auto;
        position: relative;
        bottom: 110px;
    }
    
}