* {
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

#heading {
    margin-bottom: 30px;
}


button {
    border-radius: 5px;
    margin: 5px;
    color: black
}   

img {
    max-width: 100%;
    border-radius: 11px;
}

a {
    text-decoration: none;
    color: black;
}