/*css*/
body{
	padding: 5px;
	margin:5px;
	font-family:Florence,cursive;
	background:url("../img/leaves-pattern.png");
}
img{
	float:left;
	margin-right: 30px
}

#header{
	color:#28A5FF;
	text-align: center;
}
a{
	text-decoration:none;

}
a:active{
	color:#2369FF;
}
a:hover{
	color:#FF6E14;
}
h2{
	color:#4FBF9F;
}
h2:hover{
	color:#FFDD00;
}
ul li{
	color:#19F7FF;
	margin-right:20px;
}
h5{
	color:#FF633C;
}

img{
	height:111px;
}
.photos{
	max-width: 100%;
	height:140px;
	width:545px; 
}
.location{
	max-width: 100% ;
	color:#2369FF;
}
.location:hover{
	color:#F08B38;
}
.icon{
	max-width: 100%;
	display: inline-block;
}
.gfgjk{
	max-width: 100%;
	display: inline-block;
	margin-top: 88px;
}
