body{
	font-family: sans-serif;
	background-color:#000000;
	min-height:251px ;
	min-width:841px ;
}

img{
	height: 100%;
	width:100%;
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
	border: none;
	margin: 0;
	padding:0;
}
.spacer{
	height: 4px;
}
img.photos{
	position: relative;
	left:682px;
}
.nsdgm{
	color: #DAA95A;
	text-align: center;
}
