/*Делаем flex фичи*/
body{
	background: gray;
	color:white ;
}
.contaner{
	height: 500px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	/*Вырывнивание контента по горизонтали*/
	justify-content: space-around;
	/*Вырывнивание контента по вертикали*/
	align-items:center;
	/*Колонка по вертикали*/
	flex-direction: row;
	/*Многострочность элемента flex-wrap*/
	flex-wrap: wrap;
	/*Заполнение контента по вертикали*/
	align-content: space-around;
}
.box{
	border: 1px solid red;
	flex-basis:10% ;	
	text-align: center;
	flex-grow:5;
}
.active{
	/*Порядок элементов (свойство order) */
	order: -1;
	background-color: purple;
	/*Базовая ширина элемента flex-basis*/
	flex-basis:30% ;	
	text-align: center;
	/*Растяжение элемента flex-grow*/
	flex-grow:1 ;
	/*Сужение элементов flex-shrink*/
	flex-shrink:1 ;
	/*Выравнивание отдельных элементов aligh-self*/
	align-self:flex-start; 
}