/*Toggle Hide/Show class*/

#myDiv {
	width: 100%;
	padding: 50px 0;
	text-align: center;
	background-color: green;
	margin-top: 20px;
	margin-bottom: 11px;
}
button {
	margin-bottom: 11px;
}

/* Alert Button class*/

.alert {
	padding: 20px;
	color: white;
	opacity: 1;
	transition: opacity 0.6s;
	margin-bottom: 15px;
}

.alert.danger {
	background-color: #f44336;
}

.alert.success{
	background-color: #4CAF50;
}

.alert.info{
	background-color: #2196F3;
}

.alert.warning{
	background-color: #FF9800;
}

.closebtn{
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover{
	color: black;
}

/*New Content*/

img {
	float: right;
	border-radius: 5%;
}
p {
	margin: 11px;
	text-align: center;
}












